*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #051822;
    font: 300 1.1em/1.6em  "latoregular", "Arial", sans-serif;
}

#content {
    position: absolute;
    top: 160px;
    left: 15%;
    width: 75%;
    padding-bottom: 100px;
}

header {
    position: absolute;
    left: 0px;
    top:  0px;
    width: 100%;
    /* background-color: #184468; */
    background-color: #840044;
    color: white;
    height: 130px;
}

div#intro {
    position: relative;
    left: 20%;
    top: -85px;
    width: 60%;
}

div#intro a {
  text-decoration: underline;
}

div#intro a:link {
  color: white;
  text-decoration: underline;
}

div#intro a:visited {
  color: white;
  text-decoration: underline;
}

div#intro a:hover {
  color: white;
  text-decoration: underline;
}

a.gravatar {
  position: relative;
  top: 15px;
  left: 40px;

}

a.posttitle {
    color: #184468;
    font-size:24px;
    margin-bottom: 15px;
}

ul.nobullet {
  margin: 0px;
  text-align: right;
}

h1 {
    font-size:34px;
    margin-bottom: 15px;
}
h2 {
    color: #184468;
    font-size: 30px;
    margin-bottom: 25px;
}
h3 {
    color: #184468;
    font-size:24px;
    margin-bottom: 10px;
}
h4 {
    font-size:16px;
    margin-bottom: 15px;
}
p, pre{
    margin-bottom: 15px;
}

pre{
  margin-left: 25px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

a:link {
  color: #840044;
  text-decoration: none;
}

a:visited {
  color: #840044;
  text-decoration: none;
}

a:hover {
  color: #840044;
  text-decoration: underline;
}
a.posttitle {
    color: #184468;
    font-size:24px;
    margin-bottom: 15px;
}
div.menu a.avatar {
    margin-bottom: 30px;
}
.postdate {
   text-align: right;
   margin-bottom: 40px;
}
.postdateheading {
   text-align: right;
   margin-bottom: 10px;
}
.post p{
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

ul{
  margin-left: 30px;
  margin-bottom: 15px;
}

.post ol{
  margin-left: 30px;
  margin-bottom: 15px;
}

.post img {
  display:block;
  margin:auto;
}

div.archive {
  position: relative;
  left: 5%;
  margin-left: 10px;
  width: 75%;
  font-size: 15pt;
}
div.archive h2 {
  margin-bottom: 10px;
}
div.archive ul {
  margin-left: 0px;
  margin-bottom: 25px;
  list-style-type: none;
}
div.archive ul li{
  margin-bottom: 10px;
}

span.archivedate {
  float: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #840044;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: block;
  margin-bottom: 0;
}
blockquote p.cite {
  margin-top: 10px;
}

div.talksection {
  margin-bottom: 30px;
}

div.talksection .center {
  width: 75%;
  margin: 0 auto;
}

span.talkbyline {
    font-size: 17px;
}

/** fonts */

@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato/Lato-Reg.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato/Lato-Bol.ttf') format('truetype'),
    font-weight: bold;
    font-style: normal;
}


/** pygments */

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
