*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #051822;
    font: 300 1.1em/1.6em  "latoregular", "Arial", sans-serif;
}

#content {
    position: absolute;
    top: 160px;
    left: 15%;
    width: 75%;
    padding-bottom: 100px;
}

header {
    position: absolute;
    left: 0px;
    top:  0px;
    width: 100%;
    /* background-color: #184468; */
    background-color: #840044;
    color: white;
    height: 130px;
}

div#intro {
    position: relative;
    left: 20%;
    top: -85px;
    width: 60%;
}

div#intro a {
  text-decoration: underline;
}

div#intro a:link {
  color: white;
  text-decoration: underline;
}

div#intro a:visited {
  color: white;
  text-decoration: underline;
}

div#intro a:hover {
  color: white;
  text-decoration: underline;
}

a.gravatar {
  position: relative;
  top: 15px;
  left: 40px;

}

a.posttitle {
    color: #184468;
    font-size:24px;
    margin-bottom: 15px;
}

ul.nobullet {
  margin: 0px;
  text-align: right;
}

h1 {
    font-size:34px;
    margin-bottom: 15px;
}
h2 {
    color: #184468;
    font-size: 30px;
    margin-bottom: 25px;
    line-height: normal;
}
h3 {
    color: #184468;
    font-size:24px;
    margin-bottom: 10px;
}
h4 {
    font-size:16px;
    margin-bottom: 15px;
}
p, pre{
    margin-bottom: 15px;
}

pre{
  margin-left: 10px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

a:link {
  color: #840044;
  text-decoration: none;
}

a:visited {
  color: #840044;
  text-decoration: none;
}

a:hover {
  color: #840044;
  text-decoration: underline;
}
a.posttitle {
    color: #184468;
    font-size:24px;
    margin-bottom: 15px;
}
div.menu a.avatar {
    margin-bottom: 30px;
}
.postdate {
   text-align: right;
   margin-bottom: 40px;
}
.postdateheading {
   text-align: right;
   margin-bottom: 10px;
}
.post p{
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

ul{
  margin-left: 30px;
  margin-bottom: 15px;
}

.post ol{
  margin-left: 30px;
  margin-bottom: 15px;
}

.post img {
  display:block;
  margin:auto;
}

div.archive {
  position: relative;
  left: 5%;
  margin-left: 10px;
  width: 75%;
  font-size: 15pt;
}
div.archive h2 {
  margin-bottom: 10px;
}
div.archive ul {
  margin-left: 0px;
  margin-bottom: 25px;
  list-style-type: none;
}
div.archive ul li{
  margin-bottom: 10px;
}

span.archivedate {
  float: right;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #840044;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: block;
  margin-bottom: 0;
}
blockquote p.cite {
  margin-top: 10px;
}

div.talksection {
  margin-bottom: 30px;
}

div.talksection .center {
  width: 75%;
  margin: 0 auto;
}

span.talkbyline {
    font-size: 17px;
}

/** fonts */

@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato/Lato-Reg.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato/Lato-Bol.ttf') format('truetype'),
    font-weight: bold;
    font-style: normal;
}


/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode { background: #f8f8f8; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }
