<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{ partial "styles" . }}
    <link href="https://unwiredcouch.com/atom.xml" type="application/atom+xml" rel="alternate" title="unwiredcouch.com: All Posts" />
    {{if not .IsHome}}
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s: %s" />` .Rel .MediaType.Type .Permalink $.Site.Title $.Section | safeHTML }}
    {{ end -}}
    {{ end }}

    <title>{{ .Title }} on unwiredcouch.com</title>
    {{ block "extra_headers" . }}
    <!-- extra headers set by different layouts -->
    {{ end }}

  </head>
  <body>
    <div class="mainwrapper">

    {{ partial "header" . }}

    <main>
    {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates
          -->
    {{ end }}
    </main>

    {{ partial "footer" . }}

    </div>
  </body>
</html>
