<header>
  <a class="gravatar hidemobile" href="/">
    <img
      src="https://www.gravatar.com/avatar/89e0ad1229121f46047977ac547bd7b4.jpg?s=100"
      height="50" width="50" class="avatar" alt="gravatar image" />
  </a>
  <div id="intro">
    <ul>
      <li><a href="/posts">Writing</a></li>
      <li><a href="https://www.instagram.com/mrtazz/">Drawing</a></li>
      <li><a href="/talks">Talks</a></li>
      <li><a href="https://github.com/mrtazz">Code</a></li>
      <li><a href="/setup/">Setup</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/imprint.html">Contact</a></li>
    </ul>
  </div>
</header>
