{{ define "main" }}

<div class="tiles-wrapper">

{{ range .Site.Params.homepageSections }}
  <div class="tile">
    <h3> {{ .title }} </h3>
<ul class="homepage-postlist">
  {{$posts := ($.Site.GetPage "section" .section ).Pages.ByPublishDate.Reverse}}
{{ range first 5 $posts }}
      <li class="homepage-postlist__item">
        <a class="homepage-posttitle" href="{{ .RelPermalink }}"> {{ .Title }}</a>
        <span class="homepage-postdate hidemobile">{{ .PublishDate.Format "Jan 2, 2006" }} </span>
      </li>
{{ end }}
<li> <a href="/{{ .section }}"> More ... </a> </li>
</ul>
  </div>

{{ end }}


</div>
{{ end }}
