<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="pragma" content="no-cache">
        <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css"></link>
        <link href="/css/mobile.css" media="handheld, only screen and (max-device-width: 960px)" rel="stylesheet" type="text/css"></link>
        <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css"></link>
        <link href="/css/fonts.css" rel="stylesheet">
        <link href="http://www.unwiredcouch.com/atom.xml"
        type="application/atom+xml" rel="alternate" title="unwiredcouch.feed" />

        {% include twittercard.html %}

        <title>{{page.title}} on unwiredcouch.com</title>
    </head>
    <body>
          {% unless page.nomenu %}
          <div id="head">
            <div class=gravatarbox">
            <a class="gravatar hidemobile" href="/">
              <img src="https://www.gravatar.com/avatar/89e0ad1229121f46047977ac547bd7b4.jpg?s=142"
                    height="100" width="100" class="avatar" alt="gravatar image" />
            </a>
            </div>
              <div id="intro">
                Hi! I'm <a href="/about.html">Daniel</a></li>
                </br>
                I like
                  <a href="/archive.html">writing</a>,
                  <a href="https://twitter.com/mrtazz">tweeting</a>,
                  <a href="/talks">sometimes give talks</a>,
                  and <a href="http://code.mrtazz.com">occasionally write code</a>.
              </div>
          </div>
          {% endunless %}
            <div id="content">
                {{ content }}
            </div>
        {% include gauges.html %}
    </body>
</html>
