
{{ define "extra_headers" }}
{{ $imgfile := printf "images/%s/%s/large.jpeg" .Section .File.BaseFileName  }}
{{ $img := resources.Get $imgfile  }}

<meta content="unwiredcouch.com" property="og:site_name">
<meta content="article" property="og:type">
<meta content="{{ .Title }}" property="og:title">
<meta content="{{ .Permalink }}" property="og:url">
<meta content="{{ .PublishDate.Format "2006-01-02T15:04:05Z" }}" property="og:published_time">
<meta content='Attached: 1 image

{{ .Content }}' name='description'>
<meta content="Attached: 1 image

{{ .Content }}" property="og:description">

<meta content="{{ $img.RelPermalink }}" property="og:image">
<meta content="image/jpeg" property="og:image:type">
<meta content="{{ $img.Width }}" property="og:image:width">
<meta content="{{ $img.Height }}" property="og:image:height">
<meta content="{{ .Content }}" property="og:image:alt">
<meta content="summary_large_image" property="twitter:card">

{{ end }}

{{ define "main" }}
{{ $base_image_path := printf "images/%s/%s" .Section .File.BaseFileName  }}
{{ $imgfile := printf "%s/large.jpeg" $base_image_path  }}
{{ $img := resources.Get $imgfile  }}


<div class="art-single">
  <div class="art-header">
    <div class="art-header-text">
      <ul class="art-header-text-list">
        <li class="art-header-text-list-item art-single-title">{{ .Title }}</li>
        <li class="art-header-text-list-item art-single-date"> {{ .PublishDate.Format "Jan 2, 2006" }} </li>
    </div>

  </div>

  <div class="art-single-image-container">
    <img class="art-single-image" src="{{ $img.RelPermalink }}" title="{{
    .Params.alt_text }}" alt="{{ .Params.alt_text }}">
    {{ if .Params.additional_images }}
      {{ range .Params.additional_images }}
        {{ $imgfile := printf "%s/%s" $base_image_path .file  }}
        {{ $img := resources.Get $imgfile  }}
        <img class="art-single-image" src="{{ $img.RelPermalink }}" title="{{ .alt_text }}" alt="{{ .alt_text }}">
      {{ end }}
    {{ end }}
  </div>

  {{ .Content }}

</div>

{{ end }}
